
.data1200{/*høyde og bredde på bildet på toppen av second page siden*/
    height: 500px;
    width: 1440px;
}


nav{
    /*background-color: rgb(182, 227, 255);Fargen til navbaren*/
    background-color: rgb(255, 136, 0);
    margin: 0;
    padding-left: 60px;/*avstand mellom tekst og venstre kant*/
    padding-right: 1019px;/*avstand mellom tekst og høyre kant*/
    padding-top: 15px;/*avstand mellom tekst og topp kanten*/
    padding-bottom: 15px;/*avstand mellom tekst og bunnen av boksen*/
    overflow: hidden;
    }


nav a{ /* styrer redigeringen av alle <a>-ene i <nav>*/
        display: inline; /* gjør slik at knappene i navbaren ligger ved siden av hverandre på rekke*/
        color:black; /*Fargen til teksten inni navbaren*/
        text-align: center;/*Gjør slik at teksten ligger i midten av knappen og ikke ligger til venstre eller høyre */
        padding: 30px 60px; /* paddingen skaper avstanden mellom teksten og kantene til knappen */
        text-decoration: none;
    }


nav a:hover{
        /*background-color: rgb(149, 205, 240);  fargen som dukker opp når musa er over knappene i navbaren*/
        background-color: rgb(216, 122, 14);
    }

body, h1, h2, p, span {
        margin: 0;
        padding: 0;

    }

body{
    font-family: Arial, Helvetica, sans-serif;/*font på sidene */
}


main{
    padding-top: 30px;
    margin: 100px;
}


p{
    line-height: 3;/*skaper en stor linje avstand mellom alle p elementene*/
}


li{
    line-height: 2;/* linje avstanden mellom alle <li> ettersom at like stor avstand ikke trengs*/
    padding-inline-start: 40px; /*gjør slik at punktene starter lenger inn på siden*/
}

.article-container { /* Denne lager en container for artikkelen*/
    width: 70%;
    margin: 20px;
    padding: 20px;
}

.article-title {
    margin-top: 80px;
    font-size: 30px;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
}

.sub-image {
    width: 20%;
}

.article-sub-image {
    width: 60%;
}

.article-image {
    width: 700px;
}

.author-info {
    text-align: left;
    font-style: italic;
    margin-bottom: 20px;
}

#author {
    font-weight: bold;
    color: red;

}

.grid-container { /* grid for innhold i artikkelen */
    display: grid;
    grid-template-columns: 1fr; /* gjør sånn at det bare er en kolonne */
    grid-gap: 20px;
    align-items: center;
}

.article-paragraph{
    line-height: 2,5;
    width: 60%;

}

.sub-heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60%;
}


footer{
    background-color: rgb(255, 136, 0);
    /*background-color: rgb(182, 227, 255);farge i footer*/
    padding-left: 50px;/*skaper avstand mellom tekst og kant*/
    padding-top: 30px;
    padding-bottom: 30px;;
}


.footer{
line-height: 1.5; /*stor avstand mellom <p> i footer er ikke nødvendig*/

}
.advertisement {
    position: fixed;
    top: 10px; 
    right: 10px;
    width: 200px; 
    height: 200px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding: 10px;
}

.advertisement img {
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}


.close-button:hover {
    color: red;
}